@model IEnumerable<Pixeria.Models.Dokument>
@{
    ViewBag.Title = "Home";
    var ImageExtensions = new List<string> { ".jpg", ".jpe", ".bmp", ".gif", ".png",".svg" };
    var liked = false;
}
<div class="panel-body" style="position:relative">
    @Html.Hidden("LikeURL", Url.Action("Like", "Like"))
    @Html.Hidden("CommentURL", Url.Action("Kommentieren", "Kommentar"))
    @if (Session["user"] != null)
    {
        @Html.Hidden("UserName", @Session["user"].ToString())
    }
    <div class="bs-example"
         data-example-id="thumbnails-with-custom-content">
        <div class="row" style="margin-bottom:50px;">
            @foreach (var item in Model)
            {
                <div class="col-md-offset-2 col-md-8">
                    <a href="#" class="thumbnail" style="text-decoration:none;">
                        @if (ImageExtensions.Contains(Path.GetExtension(item.Pfad).ToLower()))
                        {
                            <img src="@item.Pfad" onError="this.src = '../resources/img/default.jpg'" alt="..." data-toggle="modal" data-target="#myModal@(item.Id)">
                        }
                        else
                        {

                            <div class="top_right_corner" style="margin-right:30px;margin-top:10px"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></div>
                            <video src="@item.Pfad" style="width:99%;height:100%" data-toggle="modal" data-target="#myModal@(item.Id)">
                                Ihr Browser kann dieses Video nicht wiedergeben.
                                <br />
                                Dieser Film zeigt eine Demonstration des video-Elements.
                                Sie können ihn unter
                                abrufen.
                            </video>
                        }
                        <div class="caption">
                            <h3>@item.Titel</h3>
                        </div>
                    </a>
                </div>
                <div class="modal" id="myModal@(item.Id)" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" onkeydown="switchModal(@item.Id,event)">

                    <a href="#" class="top_right_corner" data-dismiss="modal"><img src="../resources/img/close.svg" style="width:25px;margin-right:10px;margin-top:10px" /></a>
                    <div class="modal-dialog modal-size" role="document">
                        <div class="modal-content" style="height:100%">
                            <div id="left">
                                @if (ImageExtensions.Contains(Path.GetExtension(item.Pfad).ToLower()))
                                {
                                    <img src="@item.Pfad" alt="@item.Titel" id="img" class="medien" onError="this.src = '../resources/img/default.jpg'">
                                }
                                else
                                {
                                    <video src="@item.Pfad" controls class="medien">
                                        Ihr Browser kann dieses Video nicht wiedergeben.
                                        <br />
                                        Dieser Film zeigt eine Demonstration des video-Elements.
                                        Sie können ihn unter
                                        <a href="#">Link-Addresse</a> abrufen.
                                    </video>
                                }
                            </div>
                            <div id="right">
                                <h3>@item.Titel</h3>
                                <hr style="margin-right:5px;" />
                                <span id="count@(item.Id)">Gefällt: @item.Like.Count()</span>
                                <hr />
                                <div id="commentDiv@(item.Id)" class="comment">
                                    @foreach (var comment in item.Kommentar)
                                    {
                                        <span>@comment.User.Username : @comment.Text</span><br />
                                    }
                                </div>
                                @if (Session["user"] != null)
                                {
                                    <hr />
                                    <div class="input-group" style="position:absolute;bottom:0;margin-bottom:5px;width:35%">
                                        <span class="input-group-btn" style="margin-right:5px">
                                            <a id="like@(item.Id)" onclick="likeDokument(@item.Id,@item.Like.Count())" class="btn btn-primary" role="button">

                                                @{liked = false;
                                                    foreach (var like in item.Like)
                                                    {
                                                        if (like.User.Username == Session["user"].ToString())
                                                        {
                                                            liked = true;
                                                        }
                                                    }
                                                    if (liked)
                                                    {
                                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                    }
                                                }
                                            </a>
                                        </span>
                                        <input id="comment@(item.Id)" type="text" style="width:100%;margin-left:5px" class="form-control" placeholder="Ihr Kommentar" onkeydown="subComment(@item.Id,event)" />
                                    </div>
                                                    }
                            </div>

                            <div style="clear: both;"></div>

                        </div>
                        @{ var pos = Model.ToList().IndexOf(item);}
                        @if (pos > 0)
                        {
                            @*<button class="btn-primary-outline" style="position: fixed; margin: auto;left: 0;top: 0;bottom: 0;"><span style="width:70px;height:70px" class="glyphicon glyphicon-arrow-left"></span></button>*@

                            <a id="linkleft@(item.Id)" href="" data-target="#myModal@(Model.ElementAt(pos-1).Id)" data-toggle="modal" data-dismiss="modal"><div class="feedarrowcontainerleft"><img width="90" height="90" src="/resources/img/back.svg"></div></a>
                            @*<a href="" data-target="#myModal@(Model.ElementAt(pos-1).Id)" data-toggle="modal" data-dismiss="modal">Previous</a>*@}
                        @if (pos + 1 < Model.Count())
                        {
                            <a id="linkright@(item.Id)" class="feedarrowcontainerright" href="" data-target="#myModal@(Model.ElementAt(pos + 1).Id)" data-toggle="modal" data-dismiss="modal"><div class="feedarrowcontainerright"><img width="90" height="90" src="/resources/img/next.svg"></div></a>

                        }

                    </div>
                </div>
                            }
        </div>
    </div>
    @if (Session["user"] != null)
    {
        <button type="button" data-target="#uploadModal" data-toggle="modal" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
    }
</div>
<div id="uploadModal" class="modal fade">
    @if (Session["user"] != null)
    {
        @Html.Action("Upload", "Dokument")
    }
</div>
