@model IEnumerable<Pixeria.Models.Dokument>
@{
    ViewBag.Title = "Home Page";
    var ImageExtensions = new List<string> { ".jpg", ".jpe", ".bmp", ".gif", ".png" };
}
<div class="panel-body">
    <div class="bs-example"
         data-example-id="thumbnails-with-custom-content">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        @if (ImageExtensions.Contains(Path.GetExtension(item.Pfad).ToLower()))
                        {
                            <img src="@item.Pfad" alt="@item.Titel" id="img" onclick="showDokumentInfo(@item.Id)">
                        }
                        else
                        {
                            <video src="@item.Pfad" autoplay controls style="width:100px;height:100px">
                                Ihr Browser kann dieses Video nicht wiedergeben.
                                <br />
                                Dieser Film zeigt eine Demonstration des video-Elements.
                                Sie können ihn unter
                                <a href="#">Link-Addresse</a> abrufen.
                            </video>
                        }
                        <div class="caption">
                            <h3>@item.Titel</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function showDokumentInfo(id) {
        var url = '@Url.Action("Details", "Dokument", new { id = "__id__" })';
        window.location.href = url.replace('__id__', id);
    }
</script>