<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pixeria</title>
    <link rel="icon" href="../resources/img/default.jpg">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pixeria", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Arbeitsprotokoll", "Arbeitsprotokoll", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["user"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                        <li>@Html.ActionLink("Register", "Register", "User")</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Session["user"].ToString()<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Profile","User")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
                                <li><a href="@Url.Action("Logout","User")"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @if (Request.Url.AbsoluteUri.ToString().Contains("Home/Welcome") || Request.Url.AbsoluteUri.ToString().Equals("http://pixeria.oriet-projects.ch/") || Request.Url.AbsoluteUri.ToString().Equals("http://pixeria.oriet-projects.ch/Home"))
    {
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Pixeria</p>
    </footer>
    }
    else
    {
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pixeria</p>
        </footer>
    </div>
    }


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/welcome")
    @RenderSection("scripts", required: false)
</body>
</html>
