@model Pixeria.Models.Dokument

@{
    ViewBag.Title = "Upload";
}
@if (Session["user"] != null)
{
    @Html.Hidden("UploadURL", Url.Action("Upload", "Dokument"))
    @Html.Hidden("HomeURL", Url.Action("Index", "Home"))
    <form enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Upload</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-10">
                                <div id="titleError"></div>
                                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control", @placeholder = "Titel", @id = "title" } })
                                @Html.ValidationMessage("TitelError", new { @class = "label label-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <div id="fileError"></div>
                                <span class="btn btn-default btn-file">
                                    Dokument auswählen <input type="file" name="file" class="form-control" id="file" accept="image/*,video/*" onchange="preview()" />
                                </span>
                                <input type="button" value="Create" class="btn btn-default" onclick="UploadDokument()" />
                            </div>
                        </div>
                        @Html.ValidationMessage("FileError", new { @class = "label label-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                <h3>Preview</h3>
                                <div id="preview" class="preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    Response.Redirect("~/Home/Index");
}




