@model Pixeria.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Registrieren</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <h4>Username</h4>

                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })


                <h4>Passwort</h4>
                @Html.PasswordFor(model => model.Passwd, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Passwd, "", new { @class = "text-danger" })

                <h4>Passwort wiederhohlen</h4>
                @Html.PasswordFor(model => model.PasswdRepeat, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Passwd, "", new { @class = "text-danger" })
            </div>
        </div>



        <input type="submit" value="Create" class="btn btn-default" />

    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
